
:root {
    --pad: 30px;
}
.padding { padding: var(--pad); }
.padding-top { padding-top: var(--pad); }
.margin-bottom { margin-bottom: var(--pad); }
.margin-right { margin-right: var(--pad); }
.margin-left { margin-left: var(--pad); }

/* a "pad" of space. Works horizontally on inline blocks and vertically on blocks */
.padder { 
    margin: var(--pad) var(--pad) -1px -1px;
    padding: 1px 1px 0 0;
}